extends layout

block content
  .cover-photo
  .container
    .header
      .img
        div
          img(src='media/me.jpg')
      .wrapper
        .name
          h1 Stephen Clark
          h2 Student at Carnegie Mellon University
        .intro
          p
            | I'm a young, aspiring developer just over six feet tall. While I can't sing or dance I do consider myself very skilled in developing solutions for solving challenging problems.
  .container.tabs
    #default.tab.active Projects
    .tab.middle Experience
    .tab(data-href='sclark.pdf') Resume
  .container.cards.active
    for card in cards
      div(data-type=card.category)
        img(src=card.img)
        a(href=card.href)
          h3= card.title
        p= card.info
  .container
    .footer
      p That's it...but why don't you email me?
